---
apiVersion: v1
kind: Template
metadata:
  name: chrome-service
objects:
  - apiVersion: cloud.redhat.com/v1alpha1
    kind: ClowdApp
    metadata: 
      name: chrome-service
    spec:
      envName: ${ENV_NAME}
      database:
        name: chrome-service
      featureFlags: true
      kafkaTopics:
      # one replica for now; most of this will change
      - replicas: 1
        partitions: 8
        topicName: platform.chrome
      deployments:
      - name: api
        minReplicas: ${{MIN_REPLICAS}}
        webServices:
            public:
              apiPath: chrome-service
              enabled: true
        podSpec:
          image: ${IMAGE}:${IMAGE_TAG}
          initContainers:
            - name: run-db-migration
              command:
                - bash
                - -c
                - chrome-migrate 
              inheritEnv: true
            - name: publish-search-index
              command:
                - bash
                - -c
                - chrome-search-index
              inheritEnv: true
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /health
              port: 8000
              scheme: HTTP
            initialDelaySeconds: 30
            periodSeconds: 5
            successThreshold: 1
            timeoutSeconds: 120
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /health
              port: 8000
              scheme: HTTP
            initialDelaySeconds: 30
            periodSeconds: 5
            successThreshold: 1
            timeoutSeconds: 120
          env:
          - name: CLOWDER_ENABLED
            value: ${CLOWDER_ENABLED}
          - name: LOG_LEVEL 
            value: ${LOG_LEVEL}
          - name: INTERCOM_DEFAULT
            valueFrom:
              secretKeyRef:
                name: chrome-service-backend
                key: INTERCOM_DEFAULT
          - name: INTERCOM_HAC_CORE
            valueFrom:
              secretKeyRef:
                name: chrome-service-backend
                key: INTERCOM_HAC_CORE
          - name: INTERCOM_OPENSHIFT
            valueFrom:
              secretKeyRef:
                name: chrome-service-backend
                key: INTERCOM_OPENSHIFT
          - name: INTERCOM_OPENSHIFT_DEV
            valueFrom:
              secretKeyRef:
                name: chrome-service-backend
                key: INTERCOM_OPENSHIFT_DEV
          - name: SEARCH_CLIENT_SECRET_PROD
            valueFrom:
              secretKeyRef:
                name: chrome-service-backend
                key: SEARCH_CLIENT_SECRET_PROD
          - name: SEARCH_CLIENT_SECRET_STAGE
            valueFrom:
              secretKeyRef:
                name: chrome-service-backend
                key: SEARCH_CLIENT_SECRET_STAGE
          resources:
            limits:
              cpu: ${CPU_LIMIT}
              memory: ${MEMORY_LIMIT}
            requests:
              cpu: 250m
              memory: 256Mi

  # This is a dummy secret to make ephemeral deploy correctly. It will not roll out to stage or prod
  # Unless we set "secret" in "managedResourceTypes" in the app-interface saas file.
  - apiVersion: v1
    kind: Secret
    metadata:
      name: chrome-service-backend
    data:
      INTERCOM_OPENSHIFT: aW5zaWdodHMtcmJhYw==
      INTERCOM_DEFAULT: dGVzdFZhbHVl
      INTERCOM_HAC_CORE: dGVzdFZhbHVl
      INTERCOM_OPENSHIFT_DEV: dGVzdFZhbHVl
      SEARCH_CLIENT_SECRET_PROD: dGVzdFZhbHVl
      SEARCH_CLIENT_SECRET_STAGE: dGVzdFZhbHVl
    type: Opaque

parameters:
- name: LOG_LEVEL
  value: Info
- description: Cpu limit of service
  name: CPU_LIMIT
  value: 500m
- description: memory limit of service
  name: MEMORY_LIMIT
  value: 512Mi
- name: MIN_REPLICAS
  value: '3'
- description: Image tag
  name: IMAGE_TAG
  required: true
- description: Image name
  name: IMAGE
  value: quay.io/cloudservices/chrome-service
- description: ClowdEnv Name
  name: ENV_NAME
  required: true
- name: LINT_ANNOTATION
  value: 'ignore-check.kube-linter.io/minimum-three-replicas'
